.welcome-login-button {
    background-color: #02651F;
    height: 80px;
    width: 213px;
    margin: 50px auto;
}

.welcome-login-button p {
    font-size: 33px;
    color: black;
    margin-left: 55px;
    padding-top: 16px;
    font-family: Garamond;
}

.green-login-box {
    height: 400px;
    width: 400px;
    background-color: #1F8600;
    margin: 0 auto;
    margin-top: 90px;
}

.login-title {
    text-align: center;
    font-family: Garamond;
    padding-top: 34px;
}

.login-title h2 {
    font-size: 40px;
}

.login-title p {
    font-size: 20px;
}

.login-font {
    color: #1F8600;
    font-family: MatrixGudea;
}