nav {
    background-color: #1F8600;
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    font-family: Garamond;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 104px;
}

